.gift-card{
    border: 1px solid #ccc;
    padding: 20px;
}

.ticket-card-description input{
    height: 200px;
}


.gift-card-description textarea {
    width: 100%;
    height: 100px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: none;
  }

  